
@media (min-width:500px) {
    .posts{
     
    }
  }

  @media (max-width:800px) {
    .posts{
      width: 100% !important;
    }
  }

.posts{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    min-height: calc(100vh - 120px);
    width: 600px;
    
    padding: 30px;
    
}

.post{
  position:relative;
  width: 100%;
  margin: 40px 0px;
}