



[class*="posts_posts"] h2{
    margin-bottom: 20px;
}

[class*="posts_posts"] hr{
    width: 20%;
    margin: 40px auto;
    border: 1.5px solid;

   
}

[class*="posts_posts"] ul{
    padding: 10px 15px
}

[class*="posts_posts"] img{
    object-fit: contain;
    width: 100%;
    height: fit-content;
}