
@media (min-width:500px) {
    .bookings{
      margin: 30px 0px 30px 200px ;
    }
  }

  @media (max-width:500px) {
    .bookings{
      margin: 60px 0px 30px 0px ;
    }
    .bookingHeader{
      display: none !important;
    }
    .booking .sectionTitle{
      display: flex !important;
    }
  }

.bookings{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 120px);
    width: 100%;
}

.header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  width: 80%;
  margin: 20px 0px;
}

.bookingsList{
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  /* width: 80%; */
  min-height: 200px;

  justify-content: center;
  gap: 10px;

}

.bookingHeader{
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(124, 124, 124, 0.75);
  padding: 10px;
 
  flex-wrap: wrap;
}

.booking .sectionTitle{
  display: none;
}

.booking{
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(124, 124, 124, 0.75);
  padding: 10px;
 
  flex-wrap: wrap;
}


.booking:hover{
  transform: translateY(-1px) scale(1.01);
  transition: transform 0.2s ease-in-out;
  background-color: rgb(241, 241, 241);
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
  width: 120px;
}

.sectionTitle{

}

.sectionContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  height: 100%;
  margin:10px 0px;
}

.elipsis{
  overflow: hidden;
  width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;

}