
@media screen and (max-width: 570px) {
    .contactDetails,.contactFormSection{
        width: 95% !important;
    }
    .map{
        height: 250px !important;
    }
    .formGroup{
        flex-direction: column !important;
        width: 100% !important;
    }

   
   

}

.contactFullPage{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.contactCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
     background-image: url("/bghotelicons.jpg");
    background-repeat: repeat;
    background-size: contain;
    justify-content: center;
    margin-top: 30px;
    
    /* max-height: 450px; */
}

.contactDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    width: 80%;
    border: 1px solid rgb(177, 177, 177);
    box-shadow: 0px 0px 10px 0px rgb(177, 177, 177);
}

.h1{
   color:  #6e6e6e;
   font-size: xxx-large;
}

.contactText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    flex: 1;
    gap: 15px;
    padding: 20px;
    margin: 30px 0px;
}

.map{
    display: flex;
    min-width: 300px !important;
    flex: 1.5;
}


.contactFormSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    width: 100%;
    
    background-image: url("/contact/contactus.jpg");
}

.contactFormCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgb(177, 177, 177);
   
}

.contactFormHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
   margin: 30px 0px;

}

.formGroup{
    display: flex;
    gap: 10px;
}

.flexItem{
    flex:1;
}

.textarea{
    min-height: 100px;
    font-size: 16px;
    padding: 8.5px 14px;
    width: 100%;
    resize: vertical;
}

.button{
    padding: 10px;;
    border-radius: 5px;
    border: 1px solid #000;
    color: white;
    font-weight: 600;
    font-size: large;
    background-color: #5c5c5c;
    cursor: pointer;
}

.button:hover{
    background-color: #3a3a3a;
    color: #fff;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}