
@media screen and (max-width: 570px) {
    .contactDetails{
        width: 90% !important;
    }
    .map{
        height: 250px !important;
    }
    .formGroup{
        flex-direction: column !important;
        width: 100% !important;
    }

    .contactFormCard{
        width: 90% !important;
        /* padding:20px !important; */
    }
    .contactText{
        padding: 50px 0px !important;
    }
   

}

.contactFullPage{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.contactCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
     background-image: url("/bghotelicons.jpg");
    background-repeat: repeat;
    background-size: contain;
    justify-content: center;
    /* margin-top: 30px; */
    
    /* max-height: 450px; */
}

.contactDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    background-color: var(--primary-color);
    max-width: 1000px;
    width: 80%;
    border: 1px solid rgb(177, 177, 177);
    box-shadow: 0px 0px 40px 0px #9b9ea1;
}

.p{
    color:  #6e6e6e;
    font-size: large;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

.contactCardH1{
     color: white;
    /* color: var(--primary-text); */
    font-size: xx-large;
 }
 .contactCardH2{
    color:  #e3e3e3;
    font-size: large;
     /* color: var(--primary-text); */
     font-style: italic;
 }

.h1{
   /* color:  #6e6e6e; */
   color: var(--primary-text);
   font-size: xx-large;
}
.h2{
    /* color:  #6e6e6e; */
    color: var(--primary-text);
    font-style: italic;
}

.contactText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    flex: 1;
    gap: 15px;
    padding: 20px;
    /* margin: 30px 0px; */
}

.map{
    display: flex;
    min-width: 300px !important;
    flex: 1.5;
}


.contactFormSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    width: 100%;
    
    background-image: url("/contact/contactus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contactFormCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 40px 0px #9b9ea1;
   
}

.contactFormHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
   /* margin: 30px 0px; */
   margin-top: 40px;

}

.formGroup{
    display: flex;
    gap: 10px;
}

.flexItem{
    flex:1;
}

.textarea{
    min-height: 100px;
    font-size: 16px;
    padding: 8.5px 14px;
    width: 100%;
    resize: vertical;
}

.button{
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: white;
    font-weight: 600;
    font-size: large;
    background-color: var(--primary-color);
    cursor: pointer;
}

.button:hover{
    background-color: var(--primary-color-selected);
    color: #fff;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}