

@media screen and (max-width: 680px) {
    .rdrCalendarWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px !important;
    }
    
    .rdrMonthAndYearWrapper{
        width: 332px;
    }

}

.rdrCalendarWrapper{
    font-size: 14px;
    opacity: 0.95;
    border-radius: 10px;
}

.rdrMonths {
    /* flex-wrap: wrap; */
    justify-content: center;
}

[class^="availability"]  .rdrMonthPicker select{
    font-size: 16px;
}
[class^="availability"]  .rdrYearPicker select{
    font-size: 16px;
}

[class^="availability"] .rdrMonthAndYearWrapper{
    padding: 0px;
    height: 60px;
}
[class^="availability"] .rdrMonthAndYearWrapper button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40px
}

[class^="availability"] .rdrMonthAndYearWrapper button i{
    margin: 0px;
}

