

@media screen and (max-width: 680px) {
    .rdrCalendarWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px !important;
    }
    
    .rdrMonthAndYearWrapper{
        width: 332px;
    }

}

.rdrCalendarWrapper{
    font-size: 14px;
    opacity: 0.95;
    border-radius: 10px;
}

.rdrMonths {
    /* flex-wrap: wrap; */
    justify-content: center;
}

[class^="availability"]  .rdrMonthPicker select{
    font-size: 16px;
}
[class^="availability"]  .rdrYearPicker select{
    font-size: 16px;
}

[class^="availability"] .rdrMonthAndYearWrapper{
    padding: 0px;
    height: 60px;
}
[class^="availability"] .rdrMonthAndYearWrapper button{
    display: flex;
    justify-content: center;
    background-color: #d1d1d194;
    align-items: center;
    height: 80%;
    width: 40px
}
[class^="availability"] .rdrMonthAndYearWrapper button:hover{
    background-color: #d1d1d1;
}

[class^="availability"] .rdrMonthAndYearWrapper button i{
    margin: 0px;
}





.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
    color: rgb(51, 51, 51) !important;
}


[class^="availability"] .rdrStartEdge{
    /* border-top-left-radius: unset; */
    background: linear-gradient(to bottom right, white  50%, #ffc0cb 50%);
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}
[class^="availability"] .rdrDayStartOfWeek span, [class^="availability"] .rdrDayEndOfWeek span,[class^="availability"] .rdrDayEndOfMonth span,[class^="availability"] .rdrDayStartOfMonth span{
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}

[class^="availability"] .rdrEndEdge {
    background: linear-gradient(to bottom right, #ffc0cb 50%, white  50%);
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}

[class^="availability"] .rdrInRange~.rdrStartEdge,[class^="availability"] .rdrInRange+.rdrStartEdge+.rdrStartEdge{
    background: #ffc0cb;
}
[class^="availability"] .rdrInRange+.rdrEndEdge{
    background: #ffc0cb;
}

[class^="availability"] .rdrEndEdge+.rdrStartEdge{
    background: #ffc0cb;
}

[class^="availability"] .rdrInRange+.rdrStartEdge+.rdrStartEdge{
    background: #ffc0cb;
}


