
@media screen and (max-width: 680px) {
    [class*='booking_'] .rmdp-input{
        display: flex;
        flex: 1;
        width: 100%;
    }
    .rmdp-container{
        width: 100% !important;
    }
}

[class*='booking_'] .rmdp-input{
    opacity: 0;
    height: 40px !important;
    border: 1px solid #ccc !important;
    border-radius: unset !important;
    text-align: center; 
    cursor: pointer;
    font-size: 16px !important;
}



/* .start:not(:first-child.sd.reserved){
    background:linear-gradient(to bottom right, white  50%,rgb(58, 155, 97) 50%);
    border-bottom-left-radius: unset  !important; 
    border-top-left-radius: unset  !important; 
    border-bottom-right-radius: unset  !important; 
    border-top-right-radius: unset  !important;
} */



 

  .rmdp-container{
    position: relative;
    height: 40px;
    width: 206px;
}

.rmdp-week-day {
    color: var(--primary-color) !important;
}

.rmdp-arrow {
    margin-top: 0px !important;
  
    border-top-color: var(--primary-color) !important;
    border-right-color: var(--primary-color) !important;
    border-bottom-color:var(--primary-color) !important;
    border-left-color: var(--primary-color) !important;
 
}
.rmdp-arrow-container{
    align-items: center;
    /* padding-left:2px; */
}

.rmdp-arrow-container:hover {
    background-color:var(--primary-color)  !important;
    
}

.rmdp-arrow-container:hover .rmdp-arrow {
    border-top-color: white !important;
    border-right-color: white !important;
    border-bottom-color: white !important;
    border-left-color: white !important;
}

/* Calendar inside */

.rmdp-today span{
    background-color: #b0b0b0 !important;
}

.rmdp-range-hover.start, .rmdp-range.start{
    border-bottom-left-radius: unset !important; 
    border-top-left-radius: unset !important;
    
}
.rmdp-range-hover.end, .rmdp-range.end {
    border-bottom-right-radius: unset!important;
    border-top-right-radius: unset !important;
}
.rmdp-range {
    background-color: rgb(131, 195, 126) !important;
    box-shadow: unset !important;
    color: rgb(82, 82, 82) !important;
}

.rmdp-range:has(.reserved),.rmdp-range:has(.checkin),.rmdp-range:has(.checkout)  {
    background-color: #ffc0cb !important;
}

.rmdp-day:has(.checkin:not(.checkout)):not(.rmdp-range):not(.start){
    background:linear-gradient(to bottom right, white  50%,#ffc0cb 50%) !important;
}

.rmdp-day:has(.checkout:not(.checkin):not(.middle)):not(.end):not(.start){
    background:linear-gradient(to bottom right, #ffc0cb 50%, white 50%) !important;
}

:not(.end).rmdp-range.rmdp-day:has(.checkout):has(:not(.checkout.reserved.checkin):not(.middle)){
    background:linear-gradient(to bottom right, #ffc0cb 50%, rgb(131, 195, 126) 50%) !important;
}

.start:not(.end):has(:not(.reserved):not(.checkin)){
    background:linear-gradient(to bottom right, #fcfbfb 50%, rgb(131, 195, 126) 50%) !important;
}

.end:not(.start):has(:not(.reserved):not(.checkout):not(.checkin)){
    background:linear-gradient(to bottom right,rgb(131, 195, 126)  50%, #fcfbfb 50%) !important;
}

.end:not(.start):has(.checkin){
    background:linear-gradient(to bottom right,  rgb(131, 195, 126) 50%, #ffc0cb 50%) !important;
}

.rmdp-range:has(.checkin:not(.middle)):not(.start){
    background:linear-gradient(to bottom right,  rgb(131, 195, 126) 50%, #ffc0cb 50%) !important;
}

.rmdp-calendar-container-mobile{
    z-index: 10000 !important;
}

.rmdp-day:has(.checkin.checkout){
    background : #ffc0cb !important;
}

.rmdp-day:has(.middle){
    pointer-events: none;
}
.end, .start{
    pointer-events: none;
}
.rmdp-day:has(.checkin.checkout){
    pointer-events: none;
}


/* :not(.start).rmdp-range.rmdp-day:has(.checkin):has(:not(.checkout.reserved.checkin)){
    background:linear-gradient(to bottom right,  rgb(131, 195, 126) 50%, #ffc0cb 50%) !important;

} */


/* .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
    background-color: rgb(58, 155, 97) !important;}

 .rmdp-range.start, .rmdp-range, .rmdp-range.end{
    
}

.rmdp-range.start:has(.sd.checkin), :not(.start).rmdp-day:has(.sd.checkout) {
    border-bottom-left-radius: unset  !important; 
    border-top-left-radius: unset  !important; 
    border-bottom-right-radius: unset  !important; 
    border-top-right-radius: unset  !important; 
}

:not(.rmdp-range).rmdp-day:has(.checkout) {
    background:linear-gradient(to bottom right,#ffc0cb 50%,white 50%);
    color: inherit;
    box-shadow: unset;
  }
  :not(.rmdp-range).rmdp-day:has(.checkin) {
    background:linear-gradient(to bottom right, white 50%, #ffc0cb 50%);
    color: inherit;
    box-shadow: unset;
  }

  .rmdp-range:has(.reserved) {
    background-color: #ffc0cb;
    #ffc0cb;
    box-shadow: unset;
    color: inherit;
    border-bottom-left-radius: unset  !important; 
    border-top-left-radius: unset  !important; 
    border-bottom-right-radius: unset  !important; 
    border-top-right-radius: unset  !important; 
  }

  


.rmdp-range:not(.reserved){
    background-color: rgb(58, 155, 97) ;
} */

