@media screen and (max-width: 522px) {
    .MuiTextField-root {
        width: 100% !important;
      }
      .css-1869usk-MuiFormControl-root {
        margin:0px ;
        width: 100% ;
    }

    
}

.css-1869usk-MuiFormControl-root {
    margin:0px !important;
}

