


.navbar{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 60px;
} 

.links{
    display: flex;
    flex-direction: row;

    gap: 20px;
    margin: 0 10px;

    list-style-type: none;
}

.link{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .link:hover{
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
  .dropdownLink{
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .dropdownLink:hover{
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  

.icon{
    margin: 5px;
}

.villasMenu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: -10px;
    z-index: 1;
    
    min-width: 105px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menuLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    list-style-type: none;
    
  }
  
.menuLink{
    padding: 10px 5px;
    width: 100%;
    text-align: center;
}

.menuLink:hover{
    background-color: beige;
}
