
@media (max-width: 1450px) {
    .hero{
        flex-direction: column;
        width: 100% !important;
        margin-bottom: 130px !important;
    }
}


.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    width: 80%;
    margin-bottom: 80px;
    gap: 50px;
}