.landingPage{
  display: flex;
  flex:1;
  width: 100%;
}

.landingImage{
  height: calc(100vh - 60px);
  width: 100%;
  object-fit: cover;
}

.logoContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo{
  
  top: 0px;
  left: 0px;
 
}