
@media (max-width: 1450px) {
    .hero{
        flex-direction: column;
    }
}


.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 80px;
    gap: 20px;
}