

@media screen and (max-width: 600px) {
    
    .gallery{
        min-height: unset !important;
    }
    .modalImage{
        object-fit: contain !important;
    }
    
    .previous, .next, .closeButton{
        height: 38px !important;
        width: 38px !important;
    }

    .closeButton{
        right: 20px !important;
    }
    .h1{
        font-size: var(--mobile-h1) !important;
    }
    
}


.gallery{
    /* min-height: calc(100vh - 60px); */
    width: 90%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin: 40px 0px 100px 0px; */
}

.h1{
    color: var(--primary-text);
    margin-bottom: 40px;
    font-size: xxx-large;
    
}

.column{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 25%;
}

.galleryContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-height: 415px;
    width: 100%;
}

/* .galleryImageContainer{
    overflow: hidden;
    width: 100%;
    max-height: 200px;
    height: 100%;
    padding: 2px;
} */

.galleryImage{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    
    max-height: 200px;
    padding: 2px;
}

.galleryImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: white;
    z-index: 1;
    top: 0px;
    left: 0px;
}
.carousel{
    width: 100%;
    height: 100%;
    user-select: none;
    position: relative;
}
/* .imageContainer{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    user-select: none;
} */

.modalImage{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.closeButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 40px;
    opacity: 0.5;
    padding: 5px;
    height: 55px;
    width: 55px;
    font-size: 30px;
    color: #5f5f5f;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(111, 111, 111, 0.75);
    border-radius: 50%;
    cursor: pointer;
}

.closeButton:hover{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg) scale(1.1);
    opacity: 0.8;
}

.previous{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 30px;
    font-size: xx-large;
    font-weight: bolder;
    top: 48%;
    height: 60px;
    width: 60px;
    box-shadow: 0px 0px 5px 0px rgba(111, 111, 111, 0.75);
    opacity: 0.5;
    
    background-color: rgb(255, 255, 255);
    color: #070707;
    /* border-radius: 50%; */
}

.previous:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    opacity: 0.8;
}

.next{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 30px;
    font-size: xx-large;
    font-weight: bolder;
    top: 48%;
    height: 60px;
    width: 60px;
    box-shadow: 0px 0px 5px 0px rgba(111, 111, 111, 0.75);
    opacity: 0.5;
    
    background-color: rgb(248, 248, 248);
    color: #070707;
    /* border-radius: 50%; */
}

.next:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    opacity: 0.8;
}