

@media screen and (max-width: 680px) {
    .react-calendar {

        border: none !important;
        width: 90% !important;
    }

}

.highlight {
  background-color: pink !important;
}

.react-calendar {

    border: none !important;
}

.react-calendar__tile--active:not(.highlight) {
    /* background-color: unset !important; */
    color: unset !important;
    background-color: unset !important;
}

.react-calendar__month-view__days__day--weekend {
    color: rgb(92, 92, 92) !important;
}
.react-calendar__navigation {
    margin-bottom: 0px !important;
}

.react-calendar__tile--now {
    background: rgb(230, 230, 230) !important;
    color: black !important;
    /* border-radius: 50% !important; */
}

