
.loginPage{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 60px);

  justify-content: center;
  align-items: center;
}

.title{
  color: #bbb;
  font-size: 40px;
}

.subtitle{
  font-size: 20px;
  margin-bottom: 10px;
  color: #981414;
  text-decoration: none;
}

.loading{
  display: flex;
  justify-content: center;
  width: 100%;
}

.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  gap: 10px;
 
}

.input{
  padding: 10px;
  color: inherit;
  font-size: larger;
  background-color: transparent;
  border: 2px solid #606060;
  border-radius: 5px;
  width: 100%;
}

.loginButton{
  padding: 10px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.loginButton:hover {background-color: #048c5a}

.loginButton:active {
  background-color: #048c5a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.or {
  color: #bbb;
}

.link {
  text-decoration: underline;
  color: #7d7c7c;
}

.link:hover {
  color: rgb(61, 61, 61);
}

.google {
  padding: 5px;
  color: white;
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(228, 97, 50, 0.72);
}

.google:hover {
  background-color: rgba(228, 97, 50, 0.803);
}