@media screen and (max-width: 680px) {
    
    .guestPicker{
        width: 100% !important;
        margin:0 !important;
        padding:0 !important;
    }

    .guestPicker__container{
        width: 100% ;
        display: flex;
        flex-direction: row
    }
    
}
    
