.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  width: 100%;
  color: rgb(184, 184, 184);
  flex: 1;
}

.gifLoader{
  display: flex;
  background: white url("/contact/gloader.webp") no-repeat center center;
  background-size: 75%;
  background-blend-mode: luminosity;
  width: 150px;
  height: 100px;
}
