.landingPage {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: calc(100dvh - 60px);
}

.landingImage {
  height: calc(100vh - 60px);
  width: 100%;
  object-fit: cover;
  user-select: none;
  filter: blur(2px);
}

.logoContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  user-select: none;
  top: 0px;
  left: 0px;
  
  border-radius: 50%;

}