@media screen and (max-width: 680px) {
    
    .villaLandingSection{
       flex-direction: column-reverse;
    }

    .textContainer{
        margin: 0px 20px !important;
    }
}

.villa{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* flex: 1;
    min-height: calc(100vh - 60px); */
}

.villaLandingSection{
    display:flex;
    min-height: calc(100vh - 60px);
    align-items: center;
}


.textContainer{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0px 30px;
}

.imgContainer{
    position:relative;
    height: 100vh;
    width: 100%;
}

.h1{
    color: #6e6e6e;
    margin: 30px 20px;
}

.p{
    color: #6e6e6e;
    max-width: 700px;    
    margin: 20px 20px;
    line-height: 1.6rem;
    font-style: italic;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.availability{
    position:absolute;
    min-height: 100vh;
    width: 100%;
}

.booking{
    min-height: 100vh;
    width: 100%;
}